* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#heading {
    font-size: 40px;
    font-family: 'Lucida Console', monospace;
    color: black;
        text-decoration: underline;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/bg_image.jpg');
    background-size: cover;
}

.game-box {
    height: 80rem;
    width: 35rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.box {
    margin: 0;
    padding: 5px;
    height: 25vmin;
    width: 25vmin;
    border: none;
    color: transparent;
    background-color: #16425b;
    border: 5px solid #23b5d3;
    box-sizing: border-box;
    background-size: 80%; /* Make the background image smaller than the box */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.reset {
    border-radius: 25px;
    padding: 0.8rem 2rem;
    margin: 5px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.winner-message, .draw-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    z-index: 10;
}

.hide {
    display: none;
}